<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384 1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/demo1.css" %}">
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
    <div class="container" align="center">
      <h1 class="display-4">Welcome to SANDY NEWS PORTAL</h1>
      <p>Continous news updates...!!!</p>
      <a class="btn btn-primary btn-lg" href="/newsApp/movies" role="button">Movies information</a> &emsp;
      <a class="btn btn-primary btn-lg" href="/newsApp/sports" role="button">Sports information</a> &emsp;
      <a class="btn btn-primary btn-lg" href="/newsApp/politics" role="button">Politics information</a>
    </div>
    </div>

  </body>
</html>
